.calculating {
    margin-top: 50px;
    margin-bottom: 100px;

    background-image: url("./images/romb-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        margin-bottom: 30px;
        text-align: center;
    }

    &__subtitle {
        margin-bottom: 20px;
        text-align: center;
    }

    &__choose {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }

    &__choose-item {
        display: flex;
        align-items: center;
        justify-content: right;

        @include simple-shadow($dark-grey);
        width: 220px;
        height: 80px;
        margin: 8px 15px;
        padding-right: 20px;
        padding-left: 80px;
        background: $dark-grey;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 120px 50px;
        background-position-x: -40px;
        border-radius: 5px;
        text-align: right;
        color: $secondary;
        cursor: pointer;
        transition: .3s all;

        &:hover {
            background-position-x: -20px;
        }

    }

    &__choose-item_active {
        color: $black;
        background-color: $secondary;
        background-position-x: -20px;
    }


    &__insert {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    
    &__box {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        width: 20%;
        min-width: 175px;
        padding: 20px;
        border-radius: 5px;
        background-color: $dark-grey;
        
        @include simple-shadow($dark-grey);

        &:not(:last-child) {
            margin-right: 50px;
        }
    }

    &__box-subtitle {
        color: $secondary;
    }

    &__input-kilo {
        width: 200px;
        height: 40px;
        padding: 5px;
        text-align: center;
        background: $dark-grey;
        color: $secondary;
        outline: none;
        border: 1px solid $secondary;
        border-radius: 5px;
    }

    &__checkbox {
        display: none;
    }
    
    &__checkbox:checked + .calculating__label::after {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    &__label {
        display: inline-flex;
        width: 100%;
        color: $secondary;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
    
    &__label:before {
        content: "";
        align-self: center;
        flex: 0 0 15px;
        height: 15px;
        background-color: $dark-grey;
        border-radius: 5px;
        border: 1px solid $grey;
        margin-right: 10px;
    }
    
    &__label:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        background: $secondary;
        border-radius: 5px;
        transform: scale(0);
        transition: transform .3s ease;
    }  
    
    &__steering {
        justify-content: left;
        padding: 20px 10px;
    }

    &__counter {
        display: flex;
        justify-content: center;
    }

    &__counter-item {
        text-align: center;
        width: 35px;
        height: 35px;
        border: .5px solid $secondary;
        font-size: 25px;
        color: $white;
        font-weight: 700;
        border-radius: 5px;
    }

    &__sign {
        background-color: $dark-grey;
        cursor: pointer;
        transition: background .2s ease;

        &:hover {
            background: $secondary;
        }
    }
    
    &__total {
        width: 50%;
        margin: 10px auto;
        @include flex-all-center;
        flex-wrap: wrap;
        border-top: 2px solid $orange;
        padding: 15px 0;
    }
    
    &__result {
        font-size: 18px;
        @include flex-all-center;
        padding-left: 15px;
        color: $white;
    }

    &__result span {
        font-size: 25px;
        margin-right: 10px;
    }

    &__note {
        font-size: 10px;
        text-align: center;
        margin-top: 10px;
        border-top: 1px solid $orange;
        padding-top: 15px;
        margin-bottom: 50px;
    }

    &__footer {
        display: flex;
        justify-content: center;
    }

    &__phone {
        @include flex-all-center;
        padding-right: 25px;
        padding-left: 10px;
        border: 1px solid $dark-grey;
        border-radius: 5px;
        color: $secondary;
    }

    &__button {
        margin-left: -12px;
    }

}

#moto {
    background-image: url("./images/calculator/moto.png");
    background-size: 120px 70px;
}

#light-car {
    background-image: url("./images/calculator/light-car.png");
}

#cross {
    background-image: url("./images/calculator/cross.png");
}

#jip {
    background-image: url("./images/calculator/jip.png");
}

#minivan {
    background-image: url("./images/calculator/minivan.png");
}

#special {
    background-image: url("./images/calculator/special.png");
    background-size: 100px 60px;
}

#van {
    background-image: url("./images/calculator/van.png");
}

#truck {
    background-image: url("./images/calculator/truck.png");
}

#day {
    background-image: url("./images/calculator/day.svg");
    background-size: 100px 90px;
}

#night {
    background-image: url("./images/calculator/night.svg");
    background-size: 100px 90px;
}






