.contacts-page {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 150px;

    @include breakpoint($tablet) {
        margin-bottom: 30px;
    }

    &__title {
        margin-bottom: 40px;

        @include breakpoint($tablet) {
            margin-bottom: 10px;
        }
    }

    &__hook {
        width: 100px;
        height: 100px;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @include breakpoint($tablet) {
            display: none;
        }
    }

    &__content {
        display: flex;

        position: relative;

        @include breakpoint($tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__contacts {
        width: 50%;
        padding: 30px;
        background: $dark-grey;

        @include breakpoint($tablet) {
            width: 100%;
            padding: 15px;
        }
    }

    &__map {
        margin-bottom: 50px;

        @include breakpoint($tablet) {
            margin-bottom: 10px;
        }

        iframe {
            height: 200px;
            width: 100%;
        }
    }

    &__form {
        width: 50%;
        padding: 30px;
        background: radial-gradient(at center top, $secondary 30%, $orange 74%);
        @include flex-all-center;

        @include breakpoint($tablet) {
            width: 100%;
        }
    }
}





