.faq {
    margin-bottom: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;

    background-image: url("./images/background/bg-wave.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__wrapper {
        margin-bottom: 55px;
    }

    &__list {
        margin: 0 auto;
        width: 60%;
        text-align: left;
    }

    &__item {
        margin: 10px 0;
    }

    &__header {
        background: #1a1a1a7a;
        padding: 10px;
        position: relative;
        cursor: pointer;
        transition: color .2s linear;

        &:after,
        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 15px;
            z-index: 1;
            width: 15px;
            height: 2px;
            background: $secondary;
        }

        &:after {
            transform: translateY(-50%);
        }

        &:before {
            transform: translateY(-50%) rotate(90deg);
            transition: transform .2s linear;
        }

        &.active:before {
            transform: translateY(-50%) rotate(0deg);
        }

        &.active {
            color: $secondary;
        }
    }

    &__body {
        padding: 20px 10px;
        background: #1a1a1a48;
        display: none;

        li {
            position: relative;
            margin: 5px 0;
            padding-left: 10px;

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(-45deg);
                left: 0;
                z-index: 1;
                width: 4px;
                height: 4px;
                background: $secondary;
            }
        }
    }

    &__buttons {
        margin: 0 auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        min-width: 230px;

        &--dark {
            background: $dark-grey;
            color: $secondary;

            &:hover {
                box-shadow: 0 0 5px $dark-grey,
                            0 0 25px $dark-grey,
                            0 0 40px $dark-grey;
                
            }
        }
    }
}