.faq {
    margin-bottom: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 80px;

    background-image: url("./images/background/bg-wave.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__accordion {
        margin-bottom: 55px;
    }
    
    &__buttons {
        margin: 0 auto;
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    &__btn {
        min-width: 230px;

        &--dark {
            background: $dark-grey;
            color: $white;

            &:hover {
                box-shadow: 0 0 5px $dark-grey,
                            0 0 25px $dark-grey,
                            0 0 40px $dark-grey;
                
            }
        }
    }
}