.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding: 0 50px;
    @include flex-h-center;

    @include breakpoint($mini-tablet) {
        padding: 0 10px;
    }

    &__logo {
        width: 200px;
        @include flex-h-center;

        @include breakpoint($mini-tablet) {
            width: 100px;
        }

        img {
            width: 100%;
            height: 40px;
            object-fit: cover;

            @include breakpoint($mini-tablet) {
                height: 20px;
            }
        }
    }

    &__container {
        margin-left: auto;
        @include flex-h-center;
        height: 100%;
    }

    &__contacts {
        @include flex-column-center;
    }

    &__tel {
        padding: 3px 0;
        color: $white;
        font-weight: 700;
        letter-spacing: 2px;
        transition: color .3s linear;

        @include breakpoint($mobile) {
            font-size: 12px;
        }

        &:hover {
            color: $secondary;
        }
    }

    &__devider {
        @include devider;
    }

}


