.nav {
    &__list {
        @include flex-h-center;
    }

    &__item {
        padding: 10px 12px;
        @include flex-h-center;
    }
    
    &__link {
        font-weight: 600;
        font-size: 10px;
        color: $grey;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 12px;

        position: relative;
        transition: color .3s linear;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 2px;
            background: $secondary;
            transition: all.3s linear;
        }

        &:hover {
            color: $secondary;
        }

        &:hover::after {
            width: 100%;
        }

        &.active {
            color: $secondary;
        }
    }

    @include breakpoint($tablet) {
        display: none;
    }
}