.sale-offer {
    padding: 50px 0;

    &__inner {
        display: flex;
    }

    &__content {
        width: 50%;
        text-align: center;
        padding: 50px 0;

        &--left {
            border-radius: 5px;

            background-image: url("./images/sale-offer-bg.jpg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 700px 600px;
        }

        &--right {
            background-image: url("./images/sale-offer-bg-yellow.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 700px 300px;

            box-shadow: 0px 0px 25px 0px $black;
            border-radius: 5px;
            margin-left: -5px;

        }
    }

    &__title {
        letter-spacing: 3px;
        margin-bottom: 30px;

        span {
            font-size: 50px;
        }
    }
}