@mixin simple-shadow($color) {
    box-shadow: 1px 1px 10px $color;
}





@mixin breakpoint($bp) {
    @media (max-width: $bp) {
        @content;
    }
}

@mixin breakpoint-min($bp) {
    @media (min-width: $bp) {
        @content;
    }
}

@mixin breakpoint-height($bp) {
    @media (max-height: $bp) {
        @content;
    }
}



@mixin bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin flex {
    display: flex;
}

@mixin flex-h-center {
    display: flex;
    align-items: center;
}

@mixin flex-w-center {
    display: flex;
    justify-content: center;
}

@mixin flex-all-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin devider {
    width: 100%;
    height: 3px;
    background-image: linear-gradient(-45deg, transparent 10%, $secondary 10%, $secondary 50%, transparent 50%, transparent 60%, $secondary 60%, $secondary);
    background-size: 7px 7px;
}

