$white:#fff;
$black:#000000;

//background
$primary:#12061e;
$secondary:#231236;

//text
$maintext:#cbc6cc;
$secondarytext: #8b7f95;

$maintextsize: 14px;
$titletextsize: 25px;

//z-index
$z-index-header:  1000;

//media
$tablet-bp: 991px;
$mobile-bp: 575px;
$mobile-bp-thin: 375px;
