$white:#fff;
$black:#101010;

//background
$primary: #1A1A1A;
$secondary:#f4bc33;
$button-dark: #2A2A2A;



//text
$main-text:#777777;

$secondary-text: #cecece;

$subtitle: #212121;
$subtitle-grey: #d3d3d1;

$main-text-size: 15px;
$small-text-size: 12px;
$h1: 54px;
$h2: 25px;



//z-index
$z-index-header:  1000;

//media
$tablet-bp: 991px;
$mobile-bp: 575px;
$mobile-bp-thin: 375px;
