.big-title {
    color: $white;
    font-family: $ff-title;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase; 
    line-height: 30px;
    letter-spacing: 6px;
}

.medium-title {
    color: $secondary;
    font-family: $ff-title;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 3px;
}

.small-title {
    color: $white;
    font-family: $ff-title;
    font-size: $text;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.secondary-text {
    font-size: $small-text;
    color: $color-text;
}

// .titles-test {
//     margin-top: 400px;
//     border: 2px solid black;
    

//     padding-left: 53px;
//     background-position: left center;
    
//     background-repeat: no-repeat;

//     background-image: url("./images/xoh.jpg");
// }





