.big-title {
    color: $white;
    font-family: $ff-title;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase; 
    line-height: 30px;
    letter-spacing: 6px;

    @include breakpoint($mini-tablet) {
        font-size: 15px;
    }
}

.medium-title {
    color: $secondary;
    font-family: $ff-title;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 3px;

    @include breakpoint($mini-tablet) {
        font-size: 13px;
    }
}

.small-title {
    color: $white;
    font-family: $ff-title;
    font-size: $text;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @include breakpoint($mini-tablet) {
        font-size: 12px;
    }
}

.secondary-text {
    font-size: $small-text;
    color: $color-text;
}














