.subtitle-2 {
    font-family: 'Jost', sans-serif;
    font-size: $h2;
    font-weight: 600;
    color: $subtitle;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.subtitle-3 {
    font-family: 'Jost', sans-serif;
    font-size: $main-text;
    font-weight: 400;
    color: $subtitle-grey;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.subtitle-4 {
    font-family: 'Jost', sans-serif;
    font-size: $small-text-size;
    font-weight: 400;
    color: $subtitle;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.subtitle-5 {
    font-family: 'Jost', sans-serif;
    font-size: $small-text-size;
    font-weight: 600;
    color: $subtitle;
    text-transform: uppercase;
}


.titles-test {
    margin-top: 400px;
}





